@{
    ViewData["Title"] = "Index";
}

<h1>API Links</h1>

<p><a href="~/api/speakers" title="speakers api">Speakers API</a></p>
<p><a href="~/api/speakers/update" title="update speakers api">Speakers API Update</a></p>
<p><a href="~/home/reset" title="reset firebase">Reset Firebase Database</a></p>
